<h1>Sunspot Search</h1>
<%= form_for :search, :url => search_posts_url, :html => { :method => :get } do  %>
  <%= text_field_tag :query %>
  <%= submit_tag "search" %>
<% end %>

<% if @posts.results.size > 0 %>
<h2>Results</h2>

<div class="results">
  <% @posts.each_hit_with_result do |hit, post| %>
    <h3><%= post.title %></h3>
    <strong><%= hit.score %></strong>
    <p><%= truncate(post.body, :length => 100) %></p>
  <% end %>
</div>

<% end %>
